$color_blue: rgb(69, 102, 250);

.content {
    justify-content: center;    // выравнивание по ширине
    margin: 60px auto;
    padding: 0 300px;
}


button {
    background-color: $color_blue;
    border: 1px solid $color_blue;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 4px;

    &:hover {
        background-color: $color_blue;
    }
    &:active {
        background-color:$color_blue;
    }
}
